# Created by https://www.toptal.com/developers/gitignore/api/python,visualstudiocode,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=python,visualstudiocode,windows

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

### Dataset Folder ###
Data/